// Colors
$white:        #ffffff;
$darker-white: #eeeeee;
$off-white:    #fcfeff;
$grey:          #888888;
$green:        #559797;
$yellow:       #e7ac4b;
$light-yellow: #f5dbb3;
$light-blue:   #c4e2f0;
$black:        #262425;
